Игрок может:
- ввести свое имя
- создать игру
- подключиться к игре, выбрав из списка игроков
- управлять фигурами, а именно:
	- выделять фигуру нажатием
	- поставить на место (если оно валидно)
	- выбрать превращение для пешки
	- рокировка
	- взятие на проходе
- отключиться от игры (автоматическое поражение?)
- выйти из программы
- сдаться (автовыход?)
- победить (автовыход? или лучше окошко с кнопкой? )

