Игрок может:
- ввести свое имя
- выбрать, создать игру или подключиться к существующей
- увидеть список доступных игр
- подключиться к игре, выбрав из списка игроков
- управлять фигурами, а именно:
	- выделять фигуру нажатием
	- поставить на место (если оно валидно)
	- выбрать превращение для пешки
	- сделать рокировку
	- смотреть прошлые состояния доски
- отключиться от игры (автоматическое поражение?)
- выйти из программы
- сдаться (автовыход?)
- предложить ничью
- победить (автовыход? или лучше окошко с кнопкой? )

Система должна уметь:
- Сохранять запись партии
- Автоматическое обнаружение игроков в сети
