Игрок может:
- ввести свое имя
- выбрать, создать игру или подключиться к существующей
- увидеть список доступных игр
- подключиться к игре, выбрав из списка игроков
- управлять фигурами, а именно:
	- выделять фигуру нажатием
	- поставить на место (если оно валидно)
	- выбрать превращение для пешки
	- сделать рокировку
	- смотреть прошлые состояния доски
- закончить игру, а именно: 
	- отключиться от игры
	- сдаться
	- предложить ничью
	- победить
Система должна уметь:
- Сохранять запись партии
- Автоматическое обнаружение игроков в сети
- Закончить игру ничьей, если "вечный шах"
